<br/><br/><br/>
<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">API Name:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="apiName" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">URL:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="url" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Base Path:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="basePath" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-light">Input
								Request</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4"></label>
						<div class="col-sm-6">
							<textarea class="form-control" rows="12" id="comment"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Version:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="version1" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Query Parameter:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="queryParameter" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Version:</label>
						<div class="col-sm-6">
							<input type="text" ng-model="version2" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-light">Output
								Request</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4"></label>
						<div class="col-sm-6">
							<textarea class="form-control" rows="12" id="comment"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><br>
	<div class="container">
			<div class="row" >
				<div class="col-md-10" align="right">
				
						<button type="button" class="btn btn-light" [routerLink]="['/api/mappings/process']">Submit</button>
			  </div>
			</div>
	</div>
