<br><br>

<div class="container background"><br>
  <h1 >API LifeCycle</h1>
  <p >API LifeCycle   Management is a term illustrating the need to manage<p>
  <p> all steps in a life of an API, from creation to retirement. APIs are</p>
  <p>proliferating, as they are the lynchpin for digital business. The main</p>
  <p>challenge for companies is to cope with the increasing demand for </p>
  <p>new APIs</p>
  <button type="button" class="btn btn-light">Call To Action</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 "><br>
      <h1 class="feature">Feature Message</h1><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-3 " style="padding-left: 0;">
      <div class="product">
        <h1 class="text-primary vertical-align-center" align="center">Product Title</h1>
        <p align="center">attributes</p>
      </div>

    </div>
    <div class="col-md-3 ">
      <div class="product">
        <h1 class="text-primary vertical-align-center" align="center">Product Title</h1>
        <p align="center">attributes</p>
      </div>

    </div>
    <div class="col-md-3">
      <div class="product">
        <h1 class="text-primary vertical-align-center" align="center">Product Title</h1>
        <p align="center">attributes</p>
      </div>

    </div>
    <div class="col-md-3" style="padding-right: 0;">
      <div class="product">
        <h1 class="text-primary vertical-align-center" align="center">Product Title</h1>
        <p align="center">attributes</p>
      </div>

    </div>


  </div>

</div>

